body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: url(images/weather.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.container {
  padding: 30px 50px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 80px;
  background: linear-gradient(rgb(109, 148, 135), rgb(120, 177, 177));
  max-width: 500px;
  border: 2px solid gray;
  border-radius: 50px;
  box-shadow: 2px 2px 2px rgba(247, 250, 248, 0.3);
  margin: 30px auto;
}
.weather-app {
  padding: 5px;
  border: 1px;
  border-radius: 5px;
}

h1 {
  text-align: left;
  font-size: 35px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.overview {
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(7, 4, 4);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

#mainCity {
  text-align: left;
  font-size: 35px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 0ch;
}

.degree img {
  margin-right: 3px;
  height: 70px;
  width: 64px;
  position: relative;
  top: -10px;
}

.degree .units {
  position: relative;
  font-size: 16px;
  top: -35px;
  line-height: 1;
}

.degree .temperature1 {
  color: rgb(33, 33, 33);
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: -20px;
}

.degree .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.degree .active:hover {
  color: black;
  text-decoration: none;
}
